// cia galime taip surasyti visus norimus elementus ir pasinaudojant @mixin duoti pavadinima kurio norim ir viska surasyti @mixin viduje: 
@mixin flexCenter($direction, $background) {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
// 1) norint pakeisti i column ar row galime isivardinti $direction i musu flex-direction kuris yra irasytas auksciau ir suteikti:
    flex-direction: $direction;
    background: $background;
}


header {
// kadangi auksciau iraseme @mixin cia mums reikia ji prideti i norima header elementa, kad jis veiktu, todel rasom @include ir @mixin pavadinima kuri davem. Ir sitaip rasom:
    // 2) norint kad butu column arba row rasome column i skliaustelius ir pasiema is @mixin suteikiama forma bei padaro i column:
    @include flexCenter(column, green);

    height: 100vh;
    color: $textColor;
    // (nest) nesting -  vietoje rasant (du kartus header ir header button) galime rasyti taip:
    button {
        background: $primaryBtn;
    // norint padaryti hover rasom taip:
        &:hover {
            background: rebeccapurple;
        }
        &::after {
            content: " Hellooolooo";
        } 
    }
}